@model CartSummaryViewModel

<span class="ms-3 navbar-text">
    Toplam @Model.TotalQuantity Adet (@Model.TotalPrice.ToString("c"))
    <a class="fw-normal text-decoration-none" href="#">Sepete Git</a>
</span>