<!Doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Giriş Yap</title>

    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form>
            <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">Lütfen Giriş Yapın</h1>

            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="mail@example.com">
                <label for="floatingInput">E-Posta Adresi</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Şifre">
                <label for="floatingPassword">Şifre</label>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Beni Hatırla
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2012–2023</p>
        </form>
    </main>



</body>
</html>