<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />

    <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    @await Html.PartialAsync("_Menu")
    @await Html.PartialAsync("_UserHeader")
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                @await Component.InvokeAsync("CategoryList")
            </div>
            <div class="col-md-9">
                <!--Render Start -->
                @RenderBody()
                <!--Render End -->
            </div>
        </div>

    </div>
</body>
</html>
