@using System.Security.Claims
@inject IHttpContextAccessor httpContextAccessor;
@{
    var user = httpContextAccessor.HttpContext.User;

    bool isAuth = user.Identity.IsAuthenticated;

    string givenName = "";

    if (isAuth)
        givenName = user.Claims.First(t => t.Type == ClaimTypes.GivenName).Value;
}

@if (isAuth)
{
    <header class="p-3 mb-3 border-bottom">
        <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Inventory</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Customers</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Products</a></li>
                </ul>
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <span class="navbar-text">@givenName</span>
                    </a>

                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-action="Logout" asp-controller="Account">Çıkış Yap</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
}
